@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
 <p>@Html.ActionLink(linkText: "Opend PDF", actionName: "Abc", controllerName: "ABC", routeValues: null, htmlAttributes: new { target = "_blank"})</p>
</div>
